.App {
  background-color: white;
}

.Auth-form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
}
.align-items-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.Auth-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  min-height: 400px;
}

.globe-runner-title {
  text-decoration: none!;
}

.Auth-form {
  width: 420px;
  box-shadow: rgb(0 0 0 / 16%) 1px 1px 10px;
  padding-top: 30px;
  padding-bottom: 20px;
  border-radius: 8px;
  background-color: white;
}

.Auth-form-content {
  padding-left: 12%;
  padding-right: 12%;
}

.Auth-form-title {
  text-align: center;
  margin-bottom: 1em;
  font-size: 24px;
  color: rgb(34, 34, 34);
  font-weight: 800;
}

label {
  font-size: 14px;
  font-weight: 600;
  color: rgb(34, 34, 34);
}

.flex {
  display: flex;
  flex-direction: column;
}

.padding {
  margin-top: 5px;
  margin-bottom: 50px;
}

.padding-button {
  margin-top: 5px;
  margin-bottom: 5px;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.main {
  display: grid;
  grid-template-columns: 80% 20%;
  padding: 20px;
  padding-top: 0px;
  height: 78vh;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px;
  padding: 5px 10px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
  height: 10vh;
  min-height: 100px;
}

.closest-cards-title {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 10px;
}

.closest-player-list {
  box-shadow: 0 2px 9px 0 rgba(0, 0, 0, 0.2);
  margin: 15px;
  width: 95%;
  height: 95%;
  overflow-y: auto;
}

.closest-players-title {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 10px;
}

hr {
  margin: 10px;
}

.closest-players {
  list-style-type: none;
  padding-left: 0px;
  text-align: center;
}

.player-information {
  display: flex;
  padding-left: 10px;
  padding-bottom: 10px;
}

.player-buttons {
  display: flex;
  justify-content: space-between;
  padding-left: 10px;
  padding-right: 20px;
}

.player--username {
  display: flex;
  justify-content: left;
  padding-left: 8px;
  align-items: center;
}

.nav > h1 {
  padding-left: 10px;
  justify-content: center;
  align-items: center;
}

ul.nav--links > li {
  display: inline;
  padding: 10px;

  justify-content: center;
  align-items: center;
}
ul.nav--links {
  display: flex;
  padding-top: 15px;
}

#map {
  width: 95%;
  height: 90%;
  margin: 20px;
  box-shadow: 0 2px 9px 0 rgba(0, 0, 0, 0.2);
  display: grid;
  grid-template-columns: auto;
  justify-content: center;
  align-items: center;
}

#mapid {
  margin-top: 20px;
  width: 100%;
  height: 95%;
}

#addLocationMapId {
  margin: 50px;
  height: 60vh;
}

#cartographerHomeMapId {
  margin: 50px;
  height: 60vh;
}

#onSiteMapId {
  margin: 50px;
  height: 60vh;
}

#cartographerProfileMapId {
  margin: 50px;
  height: 60vh;
}

#allCardsMapId {
  margin: 50px;
  height: 60vh;
}

.map-placeholder {
  font-weight: bolder;
  font-size: 80px;
}

.title {
  display: grid;
  grid-template-columns: auto auto;
}

.logo {
  width: 50px;
  height: 50px;
  padding-right: 5px;
}

#dropdown-basic {
  margin: 20px;
}

.player--image {
  width: 20px;
  height: 20px;
}
