# pycache
IzvorniKod/*/__pycache__
IzvorniKod/backend/views/*/__pycache__
IzvorniKod/backend/*/__pycache__

# env
.vscode
IzvorniKod/.env
IzvorniKod/backend/Pipfile.lock

# flask session
flask_session

# Frontend dio:

# dependencies
IzvorniKod/frontend/node_modules
IzvorniKod/frontend/.pnp
IzvorniKod/frontend/.pnp.js

# testing
IzvorniKod/frontend/coverage

# production
IzvorniKod/frontend/build
IzvorniKod/nginx/build
IzvorniKod/nginx/certs

# misc
IzvorniKod/frontend/.DS_Store
IzvorniKod/frontend/.env.local
IzvorniKod/frontend/.env.development.local
IzvorniKod/frontend/.env.test.local
IzvorniKod/frontend/.env.production.local

IzvorniKod/frontend/npm-debug.log*
IzvorniKod/frontend/yarn-debug.log*
IzvorniKod/frontend/yarn-error.log*
